
html {
    font-size: $font-size-root;
}
body {
    margin: 0;
    font-family: $font-family-base;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    overflow-x: hidden;
    &.menuIsActive {
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}


::-webkit-input-placeholder {
	font-size: $font-size-small;
	color: rgba($color: $primary-white, $alpha: 0.5);
  	font-family: $font-family-base;
}

:-ms-input-placeholder {
	font-size: $font-size-small;
	color: rgba($color: $primary-white, $alpha: 0.5);
  	font-family: $font-family-base;
}
::placeholder {
	font-size: $font-size-small;
	color: rgba($color: $primary-white, $alpha: 0.5);
  	font-family: $font-family-base;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 10000px white inset !important;
    box-shadow: 0 0 0 10000px white inset !important;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bfbfbf;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; 
}

body img {
    border: 0px
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

input {
    outline: none;
    width: 100%;
    height: 100%;
}
