.app-data-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    .app-info-head {
        padding: 0 16px;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-blue;
        position: relative;
        z-index: 1;
        .app-info-currency-flag {
            margin-top: -23px;
        }
        &.converter {
            height: 90px;
            .app-info-currency-flag {
                margin-top: 0;
            }
        }
    }
    .app-info-body {
        position: relative;
        z-index: 2;
        margin-top: -23px;
        flex: 1;
        padding: 0 16px 16px 16px;
        overflow-y: auto;
        &.converter {
            padding-top: 16px;
            margin-top: 0;
        }
        &.enhance {
            background-color: $primary-blue;
            .site-input {
                background-color: $primary-blue;
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
                color: $primary-white;
            }
            .rates-convert-item {
                &:last-child {
                    .site-input {
                        border-bottom: 0;
                    }
                }
            }
            .flex {
                display: flex;
                align-items: center;
                .input-wrap {
                    &:first-child {
                        width: 80%;
                        .site-input {
                            text-align: right;
                        }
                    }
                    &:last-child {
                        width: 20%;
                    }
                }

            }
            .card-loader {
                background-color: $primary-blue;
            }
        }

    

    }
}



