.app-info-currency-flag {
    display: flex;
    align-items: center;
    span {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-position: center;
    }
    p {
        margin-left: 8px;
        font-size: $font-size-small;
    }
    &.main-flag {
        flex-direction: column;
        span {
            width: 80px;
            height: 80px;
        }
        p {
            font-size: $font-size-root;
            margin-left: 0;
            margin-top: 8px;
        }
    }
    &.white {
        p {
            color: $primary-white;
        }
    }
}