.app-info-list {
    background-color: $primary-white;
    .app-info-list-item {
        display: flex;
        align-items: center;    
        justify-content: space-between;
        padding: 8px 16px;
        margin-bottom: 16px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background-color: $primary-white;
        cursor: pointer;
        .app-info-currency-price {
            font-size: $font-size-small;
        }
    }
}