.foot-nav {
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 1px solid #efefef;
    .foot-nav-item {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            font-size: $font-size-small;
            color: $primary-black;
            font-weight: bold;
        }
        &:not(:last-child) {
            border-right: 1px solid #efefef;
        }
        &.active {
            span {
                color: $primary-blue;
            }
        }
    }
}