.app-contain {
    .app-wrap {
        width: 100%;
        min-height: 100vh;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-data {
            height: 600px;
            width: 100%;
            max-width: 380px;
            box-shadow: $box-shadow;
        }
        .app-data-body {
            height: calc(100% - 50px);
        }
        .app-data-foot {
            height: 50px;
            width: 100%;
        }

    }
}